<h1>All Events</h1>
<%= render RsvpWeb.SharedView, "count.html", list: @events %>
<a href="<%= event_path(@conn, :create) %>" class="btn btn-primary pull-right">Add Event </a>
<div class="list-group">

    <%= for event <- @events do %>
        <%= render "summary.html", event: event, conn: @conn %>
    <% end %>
</div>